body {

    font-family: Monospace;
    background-color: #6600ff;

}

p {

    font-size: 14px;
    color: #cc33ff;

}

h1 {

    font-size: 22px;
    color: #66ff66

}

h3 {

    font-size: 18px;
    color: #ffff00;

}

li {

    color: #993333;

}
