@import url('https://fonts.googleapis.com/css?family=Charmonman');

#poopy {
  width: 50vw;
}

.poopy-container {
  display: flex;
  justify-content: center;
}

.poem {
  display: flex;
  text-align: center;
  font-family: 'Charmonman', cursive;
  font-size: 32px;
  align-items: center;
}

#shite {
  color: brown;
}

#shite:hover {

}
